In [1]:
import pandas as pd
import seaborn as sns
import new_lib as nl
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
from sklearn.model_selection import train_test_split
import acquire
import warnings
warnings.filterwarnings("ignore")
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

In [3]:
telco_c = acquire.get_telco_data(nl.get_db_url)
telco_c = telco_c.iloc[:, 1:]
telco_c = telco_c.drop(['gender', 'senior_citizen', 'partner', 'phone_service', 'tech_support', 'streaming_tv', 
                    'streaming_movies', 'paperless_billing', 'internet_service_type', 'online_security', 'online_backup', 
                    'device_protection', 'internet_service_type_id', 'payment_type_id', 'contract_type_id', 'dependents', 
                    'tenure', 'multiple_lines', 'monthly_charges', 'total_charges', 'churn', 'contract_type', 'payment_type']
                   , axis =1)
telco_c

     customer_id
0     0002-ORFBO
1     0003-MKNFE
2     0004-TLHLJ
3     0011-IGKFF
4     0013-EXCHZ
...          ...
7038  9987-LUTYD
7039  9992-RRAMN
7040  9992-UJOEL
7041  9993-LHIEB
7042  9995-HOTOH

[7043 rows x 1 columns]

NameError: name 'train_tree' is not defined